<div id="<%= dom_id to_do_item %>">
  <p>
    <strong>Description:</strong>
    <%= to_do_item.description %>
  </p>

  <p>
    <strong>Todolist:</strong>
    <%= to_do_item.todolist_id %>
  </p>

</div>
