<h1>Editing to do item</h1>

<%= render "form", to_do_item: @to_do_item %>

<br>

<div>
  <%= link_to "Show this to do item", @to_do_item %> |
  <%= link_to "Back to to do items", to_do_items_path %>
</div>
